<div class="card card-social-media instagram card-dark">
    <div class="social-media-header">
      <img src="./images/icon-facebook.svg" alt="Facebook logo">
      <span class="social-media-username">@nathanf</span>
    </div>
    <div class="social-media-count-container">
      <h2 class="social-media-count">1987</h2>
      <p class="social-media-follower">Followers</p>
    </div>
    <div class="social-media-latest-count">
      <img src="./images/icon-up.svg" alt="Up logo">
      <span class="social-media-latest-count-text">12 Today</span>
    </div>
  </div>